@mixin quienesSomos(){
  text-align: center;
}

@mixin separacion(){
    padding: 50px 12px ;
}

@mixin grid(){
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 23.33% 23.33% 23.33%;
    grid-template-areas:
    "titulos titulos titulos"
    "servicio-1 servicio-2 servicio-3"
    "servicio-4 servicio-5 servicio-6";

    img {
                border-radius: 100px;
            }

}

@mixin media(){
    @media (max-width: 320px) {
    .navbar,
    .contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .grid-servicios {
    grid-template-areas:
        "titulos titulos"
        "servicio-1"
        "servicio-2"
        "servicio-3"
        "servicio-4"
        "servicio-6"
        "servicio-5";

    img {
        width: 250px;
        border-radius: 140px;
        }
    }
}

@media (max-width: 768px) {
    .navbar,
    .container {
    flex-direction: row;
    justify-content: space-between;
    }

    .grid-servicios {
    grid-template-areas:
        "titulos titulos"
        "servicio-1 servicio-2"
        "servicio-3 servicio-4"
        "servicio-6 servicio-5";
    }

    img {
    width: 260px;
    border-radius: 90px;
    }
}

@media (min-width: 2560px) {
    .grid-servicios {
    grid-template-areas:
        "titulos titulos titulos"
        "servicio-1 servicio-2 servicio-3"
        "servicio-4 servicio-5 servicio-6";
    }
}
}

@mixin boton(){
    .boton {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 1);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        background-color: yellow;
}

button:hover {
    background-color: rgb(133, 133, 3);
}
}

@mixin section-principal(){
    .section-principal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        color: white;
        background-image: url(../IMG/foto1.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@mixin footer(){
    .pie {
        background-color: rgb(243, 243, 106);
    }

    .contenedor {
        width: 100%;
        background-color: rgb(230, 230, 106);
        background-size: 100%;
    }
}